{% import "_includes/forms" as forms %}

{{ forms.autosuggestField({
    label: "AccessKey ID"|t('craft-aliyun-oss'),
    id: 'keyId',
    name: 'keyId',
    suggestEnvVars: true,
    value: fs.keyId,
    errors: fs.getErrors('keyId'),
    class: 'oss-keyId',
    required: true
}) }}

{{ forms.autosuggestField({
    label: "AccessKey Secret"|t('craft-aliyun-oss'),
    id: 'secret',
    name: 'secret',
    suggestEnvVars: true,
    value: fs.secret,
    errors: fs.getErrors('secret'),
    class: 'oss-secret',
    required: true
}) }}

{{ forms.autosuggestField({
    label: "Endpoint"|t('craft-aliyun-oss'),
    id: 'endpoint',
    name: 'endpoint',
    suggestEnvVars: true,
    value: fs.endpoint,
    errors: fs.getErrors('endpoint'),
    class: 'oss-endpoint',
    required: true
}) }}

{{ forms.autosuggestField({
    label: "Bucket"|t('craft-aliyun-oss'),
    id: 'bucket',
    name: 'bucket',
    suggestEnvVars: true,
    value: fs.bucket,
    errors: fs.getErrors('bucket'),
    class: 'oss-bucket',
    required: true
}) }}

{{ forms.lightswitchField({
    label: "Is CName"|t('craft-aliyun-oss'),
    instructions: "If this is the CName and bound in the bucket.",
    id: 'isCName',
    name: 'isCName',
    on: fs.isCName
}) }}

{{ forms.autosuggestField({
    label: "Root"|t('craft-aliyun-oss'),
    id: 'root',
    name: 'root',
    suggestEnvVars: true,
    value: fs.root,
    errors: fs.getErrors('root'),
    class: 'oss-root',
    instructions: 'The root path of the filesystem, such as /images'|t('craft-aliyun-oss')
}) }}
